@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color: #131313;
}

h1 {
    color: white;
    font-family: roboto; 
}

.media-picture {
    font-size: 400px;
    background-image: url('https://static.vix.com/pt/sites/default/files/v/vingadores-ultimato-0419-1400x800.jpg');
    background-size: cover;
    background-position: left;
}

.review-score {
    color: white;
    background-color: #e6bd09;
    padding: 12px;
    font-family: serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: steelblue;
}

p {
    color:  #bdbdbd;
    font-family: roboto;
}

a {
    color: yellow;
}